torch
torchvision
torchaudio
onnxruntime-directml
safetensors
transformers
timm # Needed for EVA02 base model
numpy # Let pip resolve NumPy version
Pillow
matplotlib
requests
gradio>=4.43.0
pydantic==2.10.6 # Removed pydantic pin, let Gradio handle

huggingface_hub 
